.LOTR {
  background: #fff;
  height: 200px;
  margin: 1rem;
  width: 250px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  align-content: center;
}

.wrapper{
  margin-right: 200px;
  margin-left: 200px;

}
