@font-face {
  font-family: 'Ringbearer';
  src: local('RINGM___.TTF'),
       url("/public/fonts/ringbearer/RINGM___.TTF")
       format('truetype');
  }
.h1{
  font-family: 'Ringbearer';
  font-size: 55px;
}
.NavBar {
  background: #f1c605;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  color: #fff;
  font-size: 25px;
  font-family: 'Ringbearer';
}
.score {
  text-align: right;
  line-height: 40px;
  background: #f1c605;
  color: #fff;
  font-size: 25px;

}
.instructions{
  text-align: center;
  background: #f1c6056b;
  min-height: 55px;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  color: #fff;
  font-size: 25px;
  /* font-size: calc(10px + 14 * (100vw - 320px)/ 800); */
  font-family: 'Ringbearer';
}
.info{
  color: rgb(133, 132, 132);
  text-shadow: black;
  background: #eee2ae;
  font-size: 20px;
  min-height: 30px;
}
.footer {
  font-family: 'Ringbearer';
  background: #f1c605;
  min-height: 70px;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  color: #fff;
  font-size: 25px;
  margin-top: 5px;
}
