
  @font-face {
    font-family: 'Ringbearer';
    src: local('RINGM___.TTF'),
         url('/public/images/RINGM.TTF') format('truetype')
         url('/public/fonts/ringbearer/RINGM.woff') format('woff'), /* Pretty Modern Browsers */;
 }

body {
  margin: 0;
  font-family: 'Ringbearer';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
